@model Lab2.PizzaOnline.Models.Pizza
@{
    ViewBag.Title = "Home Page";
}

<div class="row">
    @foreach (Lab2.PizzaOnline.Models.Pizza p in ViewBag.Pizzas)
    {
        <div class="col-md-4">
            <h2>@p.Name</h2>
            <img src="@Url.Content(@p.ImagePath)" alt="Alternate Text" />
            <p>
                @p.Description
            </p>
            @using (Html.BeginForm("AddToCart", "Cart"))
            {
                @Html.Hidden("productId", p.PizzaId)
                @Html.Hidden("returnUrl", Request.Url.PathAndQuery)
                <input class="btn btn-default" type="submit" value="+ @p.Price р. Добавить в корзину" />
            }
        </div>

    }
</div>